.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.category {
    background-color: #ed1450;
    border-top-left-radius: 5px!important;
    border-top-right-radius: 5px!important;
}

.sscategory {
    background-color: white;
}

.inputwidth {
    width: 100%;
}

.stat {
    background: #F2F2F2;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.34);
    border: 2px solid rgba(155, 155, 155, 0.12);
    padding: 6px 10px;
    color: #898989;
    box-shadow: inset 0px 0px 12px 0px #DBDBDB;
    width: 50px;
    display: inline-block;
    text-align: center;
}

.ssthead{
    background-color: #333;
    color: white;
}

.right{
    float: right;
}

.left{
    float: left;
}

.grey {
    background-color: gainsboro;
}

.mrgtbl{
    margin-bottom: 5px!important;
}

.forum-icon{
    border: 1px solid grey;
    border-radius: 50%!important;
    margin: 5px;
}

.curs{
    cursor: move;
}
