#connexion{
    background-color: #ed1450;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-right: 5%;
    margin-top: 5px;
}
#menu li:hover{
    background-color: #f28c89;
}
#menu .navbar{
    background-color: #ed1450;

}
#menu ul{
    margin-left: 5%;
}

#menu a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#menu .navbar-brand{
    margin-left: 15%;
    text-align: center;
}

#menu .navbar-brand:hover, .navbar-brand.active{
    background-color: #f28c89;
}
#menu .navbar-nav>.active>a {
    background-color: #f28c89;
}

.page-logo{
    margin-left: 5%;
    margin-top: 5px;
}

footer{
    background-color: #ed1450;
    color: white;
}
