input[type=checkbox] {
    transform: scale(0.8);
    float:right;
    margin: 0;
}

.carets
{
    float: right;
    margin:0;
}

.btn-caret-all
{
    border:1px solid black;
    background-color: rgba(27,128,9,0.2);
}